@font-face {
   font-family: 'FFF_Tusj';
   font-display: swap;
   src: url('file:///C:/Users/YAK%20DNA/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-04_194615/fonts/FFF_Tusj/font.ttf');
}
